@import "../../node_modules/kouto-swiss"
meyer-reset()
box-sizing-reset()
normalize()

@import "./fonts.styl"

html
	width 100%
	min-height 100%

body
	width 100%
	min-height 100%

#root
	width 100%

a, img
	outline none

.clear
	clear both
